<a href="https://colab.research.google.com/github/ekansh2112/woc4.0-ml-sentiment-analysis-ekanshgupta/blob/main/Text_preprocessing_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
df = pd.read_csv('/content/gdrive/Othercomputers/My Laptop/DAIICT/MSTC_WOC/tripadvisor_hotel_reviews.csv')

In [4]:
df.head(3)

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20491 entries, 0 to 20490
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  20491 non-null  object
 1   Rating  20491 non-null  int64
dtypes: int64(1), object(1)
memory usage: 320.3+ KB

In [ ]:
import nltk
nltk.download('all')

In [8]:

from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
import re


def porterStemmer(text):
  ps = PorterStemmer()
  st = []
  for w in text:
    # print(w, " : ", ps.stem(w))
    st.append(ps.stem(w))
  
  return st

regex = re.compile('[^a-zA-Z]')
def clean_text(text):
    text = str(text).lower()
    text = regex.sub(' ', text)
    text = re.sub(' +', ' ', text)
    text = re.sub(r'^https?:\/\/.*[\r\n]*', '', text, flags=re.MULTILINE)
    return text

def tokenize(text):
    stop_words = set(stopwords.words('english'))
    word_tokens = word_tokenize(text)
    filtered_sentence = [w for w in word_tokens if not w.lower() in stop_words]

    return filtered_sentence

df["Converted_Rating"] = df["Rating"].apply(lambda x: 0 if (x <= 2 or not x) else 1 if (x == 3) else 2)

df["Clean_Review"] = df["Review"].apply(lambda x: clean_text(x))

df["Tokenized_Review"] = df["Clean_Review"].apply(lambda x: tokenize(x))

df["Porter_Stemmer"] = df["Tokenized_Review"].apply(lambda x: porterStemmer(x))



# print(df.head(10))

                                              Review  ...                                     Porter_Stemmer
0  nice hotel expensive parking got good deal sta...  ...  [nice, hotel, expens, park, got, good, deal, s...
1  ok nothing special charge diamond member hilto...  ...  [ok, noth, special, charg, diamond, member, hi...
2  nice rooms not 4* experience hotel monaco seat...  ...  [nice, room, experi, hotel, monaco, seattl, go...

[3 rows x 6 columns]

In [9]:
df["Review"] = df["Porter_Stemmer"]
df.head(3)

                                              Review  ...                                     Porter_Stemmer
0  [nice, hotel, expens, park, got, good, deal, s...  ...  [nice, hotel, expens, park, got, good, deal, s...
1  [ok, noth, special, charg, diamond, member, hi...  ...  [ok, noth, special, charg, diamond, member, hi...
2  [nice, room, experi, hotel, monaco, seattl, go...  ...  [nice, room, experi, hotel, monaco, seattl, go...

[3 rows x 6 columns]